.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 20px;
}

.responseContainer {
    min-height: 316px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
    flex-wrap: wrap;
}

.imageContainer {
    width: 510px;
    display: flex;
    justify-content: flex-end;
}

.image {

}

.textContainer{
    width: 510px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.code {
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    margin-bottom: 13px;
}

.text {

}
.info {

}